﻿<span ng-message="required">This field is required</span>
<span ng-message="email">Please enter a valid email</span>
<span ng-message="adCompareto">The passwords must be the same</span>
<span ng-message="validDate">Please enter a valid date</span>
<span ng-message="minlength">This field must have at least 2 characters</span>
