﻿@using Adnug.Arch.Mvc.Infrastructure.Alerts
@if (TempData.GetAlerts().Any())
{
    <script>
		$(function() {
			@foreach (var alert in TempData.GetAlerts())
			{
				<text>
				window.alerts.showAlert({
					message: '@alert.Message.Replace("'", "\\'")',
					alertClass: '@alert.AlertClass'
				});
				</text>
			}
		});
    </script>
}


