﻿<!DOCTYPE html>
<html ng-app="adnugApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <base href="/" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="navbar-brand fa fa-building-o"></i> @Html.ActionLink("ADNUG Arch Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Simple Form", "SimpleForm", "Home")</li>
                    <li>@Html.ActionLink("Simple Query", "SimpleQuery", "Home")</li>
                    <li>@Html.ActionLink("Edit Licence", "Index", "Licence")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="alert-container"></div>
        <div class="alert-sticky"></div>
        @RenderBody()
    </div>

    <footer class="container" >
        <hr />
        <p>ADNUG Demo - Footer stuff and legal bla bla to keep us out of trouble. </p>
    </footer>


    @Html.Partial("_Constants")
    @Scripts.Render("~/bundles/libraries")
    @Scripts.Render("~/bundles/app")
    @Html.Partial("_Alerts")
    @RenderSection("scripts", required: false)
</body>
</html>
