﻿
@{
    ViewBag.Title = "Index";
}


<div class="row" ng-controller="LicenceController">

    <div class="top40">
        <form name="parentForm" ng-submit="submit($event)" novalidate autocomplete="off">

            @Html.AntiForgeryToken()

            <ng-form name="getLicenceForm" novalidate ng-if="!licenceRetrieved">
                
                <div ad-form-input>
                    <label for="licenceId">Licence Id</label>
                    <input type="text" required id="licenceId" placeholder="Enter id for licence" ng-model="$parent.licenceId">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </ng-form>

            <ng-form name="editLicenceForm" novalidate ng-if="licenceRetrieved">
                <div ad-form-input>
                    <label for="licenceId">Licence Id</label>
                    <input type="text" required id="licenceId" name="licenceLicenceId" readonly="readonly" placeholder="Enter id for licence" ng-model="editModel.licence.id">
                </div>
                <div ad-form-input>
                    <label for="licenceKey">Licence Key</label>
                    <input type="text" required id="licenceKey" name="licenceEditModelLicenceLicenceKey" placeholder="Enter key for licence" ng-model="editModel.licence.licenceKey">
                </div>
                <div ad-form-input>
                    <label for="softwareNameAndDescription">Name and Description</label>
                    <input type="text" ad-has-colon required id="softwareNameAndDescription" name="licenceEditModelLicenceSoftwareNameAndDescription" placeholder="Enter name and description for software" ng-model="editModel.licence.software.nameAndDescription">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>

            </ng-form>

        </form>
    </div></div>

