﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.clear-alerts-button {
    text-align: center;
    padding: 4px;
}

/*#Notification area*/
.alert-container {
    position: fixed;
    left: 50%;
    width: 40em;
    margin-top: 52px;
    margin-left: -20em;
    padding-left: 3em;
    padding-right: 3em;
    z-index: 1000;
    opacity: 0.8;
    text-align: center;
}

.alert-sticky {
    position: fixed;
    margin-top: 52px;
    margin-right: 2px;
    right: 0;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 500px;
    z-index: 1000;
    background-color: transparent;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #a0a0a0;
    display: none;
}

.alert-sticky .alert {
    margin-bottom: 2px;
}
/*#endregion*/

/*#Validation*/
input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
    border: 2px #a94442 solid;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-sizing: border-box;
}

.help-block {
    color: #a94442;
}

.ng-move {
    -webkit-animation: pulse 0.5s;
    -moz-animation: pulse 0.5s;
    -o-animation: pulse 0.5s;
    animation: pulse 0.5s;
}

.ng-enter {
    -webkit-animation: zoomIn 0.5s;
    -moz-animation: zoomIn 0.5s;
    -o-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}

.ng-hide-add {
    -webkit-animation: fadeOut 0.9s;
    -moz-animation: fadeOut 0.9s;
    -o-animation: fadeOut 0.9s;
    animation: fadeOut 0.9s;
    display: block !important;
}

.ng-hide-remove {
    -webkit-animation: fadeIn 0.9s;
    -moz-animation: fadeIn 0.9s;
    -o-animation: fadeIn 0.9s;
    animation: fadeIn 0.9s;
    display: block !important;
}

/*#endregion*/

.top40 {
    margin-top: 40px;
}

footer {
    margin-top: 500px;
    font-size: 10px;
}