﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Landing Page Architecture Demo</h2>

<div ng-controller="HomeController" class="col-xs-12">
    <div class="row">
        <div ng-bind="msg"></div>
    </div>
</div>