﻿
@{
    ViewBag.Title = "SimpleQuery";
}

<h2>Simple Demo of Query Handler</h2>

<div ng-controller="SimpleQueryDemoController">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>Licence Id</th>
                    <th>Licence Key</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="licence in viewModel.licences">
                    <td>{{licence.id}}</td>
                    <td>{{licence.licenceKey}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

