﻿@model Adnug.Arch.Models.SimpleFormModel

@{
    ViewBag.Title = "SimpleForm";
}

<h2>Simple Form - Model State Demo</h2>

<div ng-controller="SimpleFormController">
    <div class="row" ng-init="editModel = {};editModel.simpleFormModel = {};editModel.simpleFormModel.firstName = '@Model.FirstName'">
        <form name="simpleFormDemo" ng-submit="submit($event)" novalidate autocomplete="off">

            <div ad-form-input>
                <label for="name">Name:</label>
                <input type="text" id="name" name="simpleFormModelFirstName" placeholder="Enter given name" ng-model="editModel.simpleFormModel.firstName" 
                       required ng-minlength="2" ng-maxlength="3">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
</div>

